<div class="notification" transition:fly="{y: 200, duration: 1000}">
  <h2 class="title is-2">Medicine: List
    <a href="#medicine#add" class="button is-info is-pulled-right"><i class="fas fa-plus"></i>&nbsp;Add</a>
  </h2>

  <hr />
  <br />
  <!-- <h4 class="subtitle is-4">Search by </h4> -->
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Search: </label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded">
          <input list="medicine_datalist" class="input is-half" type="text"
            placeholder="Search Medicines or Generics..." bind:value=search.dataToSearch autofocus
            style="text-transform: uppercase;" on:input="load()">
          <!-- <datalist id="medicine_datalist">
            {#each data as each_data}
                <option value={each_data.medicine} />
              {/each}
            </datalist> -->
        </p>
      </div>
    </div>
    <!-- <div class="field-label is-normal">
      <label class="label">Generic: </label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded">
          <input list="generic_datalist" class="input is-half" type="text" placeholder="Generics"
            bind:value=search.generics style="text-transform: uppercase;" on:input="load()">
          <datalist id="generic_datalist">
                {#each data as each_data}
                  {#if each_data.generics}
                  <option value={each_data.generics} />
                  {/if}
                {/each}
                <option value="None" />
            </datalist>
        </p>
      </div>
    </div> -->
  </div>
  <div class="is-clipped {table_div}">
    {#if loaded}
    <table class="table is-fullwidth" transition:fly="{x: 200, duration: 1000}">
      <thead>
        <tr>
          <th>SL</th>
          <th>ID</th>
          <th>Medicine</th>
          <th>Generics</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      {#if reloaded_data}
      <tbody>
        {#if data && data.length}
        {#each data as each_data, i}
        <tr>
          <th>{++i}</th>
          <td>{('000000' + each_data.id).slice(-6)}</td>
          <td>{each_data.medicine ? each_data.medicine : 'None'}</td>
          <td>{each_data.generics ? each_data.generics : 'None'}</td>
          <td><a href="#medicine#edit#{('000000' + each_data.id).slice(-6)}" class="button is-outlined is-warning"><i
                class="fas fa-edit"></i></a></td>
          <td>
            <ConfirmButton context={each_data.id} index={i-1} on:do on:done></ConfirmButton>
          </td>
        </tr>
        {/each}
        {/if}
      </tbody>
      {/if}
    </table>
    {#if !loaded_data}
    <Loader />
    {/if}
    {/if}
  </div>
  {#if !loaded}
  <Loader />
  {/if}
  <center class="has-text-danger has-text-weight-bold">{error_message}</center>
</div>
<svelte:window bind:scrollY=y on:scroll="updateData()" />
<script>
  import Model from "../../../models/medicine";
  import Loader from '../../helpers/loader.html';
  import ConfirmButton from '../../helpers/ConfirmButton.html';
  import { fly } from 'svelte-transitions';
  import { splice } from 'svelte-extras';

  export default {
    transitions: { fly },
    components: {
      Loader,
      ConfirmButton
    },
    data() {
      return {
        data: [],
        loaded: false,
        loading: true,
        error_message: "",
        search: {
          dataToSearch: "",
          limit: 10,
          offset: 0
        },
        table_div: "",
        y: 0,
        loaded_data: true,
        page: 0,
        all_data_loaded: false,
        reloaded_data: true
      }
    },
    oncreate() {
      this.load();

      this.on('do', (comp) => {
        comp.doing();
        this.delete(comp);
      });

      this.on('done', (i) => {
        this.splice("data", i, 1);
      });
    },
    methods: {
      splice,
      load(offset = 0, update = false) {
        if (!update) {
          this.set({
            loaded: false,
            data: [],
            error_message: "",
            table_div: ""
          });
        }
        else {
          this.set({
            loaded_data: false,
            error_message: ""
          });
        }

        setTimeout(() => {
          if (!update) {
            this.set({
              loading: true
            });
          }
          this.get().search.offset = offset;
          Model.search(this.get().search)
            .then((e) => {
              if (!update) {
                this.set({
                  loaded: true,
                  loading: false,
                  page: 0
                });
                setTimeout(() => {
                  this.set({
                    table_div: "table_div"
                  });
                }, 1000);

                var record = e.data.records;
                this.set({ data: record });
                if (this.get().data && this.get().data.length && this.get().data.length < 10) {
                  this.set({ all_data_loaded: true });
                }
                else {
                  this.set({ all_data_loaded: false });
                }
                if (!this.get().data || this.get().data.length === 0 || (this.get().data.constructor === Object && Object.keys(this.get().data).length === 0)) {
                  this.set({ error_message: "There is no matching data!" });
                }
              }
              else {
                this.set({ loaded_data: true });

                var record = e.data.records;
                if (record && record.length) {
                  this.get().data.push(...record);

                  this.set({
                    reloaded_data: false
                  });
                  this.set({
                    reloaded_data: true
                  });
                }
                else {
                  this.set({
                    all_data_loaded: true,
                    page: this.get().page - 1
                  });
                }
              }
            })
            .catch((e) => {
              this.set({
                loaded: true,
                loaded_data: true,
                error_message: "There is an error loading medicines!"
              });
            });
        }, 1000);

      },
      delete(comp) {
        Model.delete(comp.get().context)
          .then((e) => {
            comp.done();
          })
          .catch((e) => {
            comp.error();
          });
      },
      updateData() {
        if (this.get().y + window.innerHeight > document.body.clientHeight - 100) {
          if (this.get().loaded_data && !this.get().all_data_loaded) {
            this.set({
              loaded_data: false
            });
            this.load((++this.get().page) * 10, true);
          }
        }
      }
    }
  }
</script>