<div class="notification" transition:fly="{y: 200, duration: 1000}">
	<h2 class="title is-2">Investigation History: Edit - <a class="has-text-info has-text-weight-bold" href="#scanner#investigation#{('000000' + data.id).slice(-6)}">{loaded ? ('000000' + data.id).slice(-6) : ''}</a>
		<a href="#investigationhistory" class="button is-info is-pulled-right"><i class="fas fa-list"></i>&nbsp;History</a>
	</h2>
	<hr />
	{#if !loaded}
		<Loader />
	{/if}
	{#if loaded}
	<div transition:fly="{x: -200, duration: 1000}">
		<p class="title is-5">Patient:</p>
	<div class="columns">
		<div class="column is-one-fifth">
			ID: <a class="has-text-info has-text-weight-bold" href="#scanner#patient#{('000000' + data.patient.id).slice(-6)}">{('000000' + data.patient.id).slice(-6)}</a>
		</div>
		<div class="column is-one-fifth">
			Name: <b>{data.patient.name}</b>
		</div>
		<div class="column is-one-fifth">
			Age: <b>{data.patient.age}</b>
		</div>
		<div class="column is-one-fifth">
			Address: <b>{data.patient.address}</b>
		</div>
		<div class="column is-one-fifth">
			Reference: <b>{data.patient.reference}</b>
		</div>
	</div>
	<hr style="height: 5px;" />
	</div>
	<form on:submit="save(event)" transition:fly="{x: 200, duration: 1000}">
		<div class="columns">
			<div class="column is-half" style="border-right: 2px solid #dbdbdb;">
		<div class="field">
			<label class="label">Complaints</label>
			{#each complaints as complaint, i}
				<div class="field is-grouped">
					<div class="control is-expanded">
						<input list="complaint_datalist" class="input" type="text" placeholder="Complaint" bind:value=complaint.complaint disabled="{save}" required autofocus>
					</div>
					<div class="control is-expanded">
						<textarea class="textarea" rows="1" placeholder="Description" bind:value=complaint.complaint_description disabled="{save}"></textarea>
					</div>
					<div class="control">
						<button type="button" class="button is-danger" on:click="splice('complaints', i, 1)"><i class="fas fa-times"></i></button>
					</div>
				</div>
			{/each}
				<datalist id="complaint_datalist">
					{#each all_complaints as complaint}
						<option value="{complaint.complaint}"/>
					{/each}
				</datalist>
		</div>
		<div class="field add">
			<div class="control">
				<button type="button" class="button is-success" on:click="push('complaints', {complaint:'',complaint_description:''})"><i class="fas fa-plus"></i></button>
			</div>
		</div>
	</div>
		<div class="column is-half">
		<div class="field">
			<label class="label">Examinations</label>
			{#each examinations as examination, i}
				<div class="field is-grouped">
					<div class="control is-expanded">
						<input list="examination_datalist" class="input" type="text" placeholder="Examination" bind:value=examination.examination disabled="{save}" required autofocus>
					</div>
					<div class="control is-expanded">
						<!-- <textarea class="textarea" rows="1" placeholder="Description" bind:value=examination.examination_description disabled="{save}"></textarea> -->
						<input list="examination_description_datalist" class="input" placeholder="Description" bind:value=examination.examination_description disabled="{save}"/>
					</div>
					<div class="control">
						<button type="button" class="button is-danger" on:click="splice('examinations', i, 1)"><i class="fas fa-times"></i></button>
					</div>
				</div>
			{/each}
			<datalist id="examination_datalist">
				{#each all_examinations as examination}
					<option value="{examination.examination}"/>
				{/each}
			</datalist>
			<datalist id="examination_description_datalist">
				<option value="NAD"/>
				<option value="Normal"/>
				<option value="Present"/>
				<option value="Absent"/>
			</datalist>
		</div>
		<div class="field add">
			<div class="control">
				<button type="button" class="button is-success" on:click="push('examinations', {examination:'',examination_description:''})"><i class="fas fa-plus"></i></button>
			</div>
		</div>
	</div>
</div>
		<hr />
		<div class="field">
			<label class="label">Investigations</label>
			{#each investigations as investigation, i}
				<div class="field is-grouped">
					<div class="control is-expanded">
						<input list="investigation_datalist" class="input" type="text" placeholder="Investigation" bind:value=investigation disabled="{save}" required autofocus>
					</div>
					<div class="control">
						<button type="button" class="button is-danger" on:click="splice('investigations', i, 1)"><i class="fas fa-times"></i></button>
					</div>
				</div>
			{/each}
			<datalist id="investigation_datalist">
				{#each all_investigations as investigation}
					<option value="{investigation.investigation}"/>
				{/each}
			</datalist>
		</div>
		<div class="field add">
			<div class="control">
				<button type="button" class="button is-success" on:click="push('investigations', '')"><i class="fas fa-plus"></i></button>
			</div>
		</div>
		<hr />
		<div class="field is-grouped">
			<div class="control">
				<SubmitButton tracker={tracker} on:submit></SubmitButton>
			</div>
			<div class="control">
				<button class="button is-info" type="Submit" disabled="{save}" on:click="set({preview_investigation: true})">
					<i class="fas fa-file-pdf"></i>&nbsp;Save and Preview Investigation
				</button>
			</div>
			<div class="control">
				<button class="button is-success" type="Submit" disabled="{save}" on:click="set({goto_prescription: true})">
					<i class="fas fa-file-prescription"></i>&nbsp;Save and Create Prescription
				</button>
			</div>
		</div>
	</form>
		{/if}
	<center class="has-text-danger has-text-weight-bold">{error_message}</center>
</div>

<script>
	import Model from "../../../models/investigation_history";
	import Patient from "../../../models/patient";
	import Complaint from "../../../models/complaint";
	import Examination from "../../../models/examination";
	import Investigation from "../../../models/investigation";
	import Loader from '../../helpers/loader.html';
	import SubmitButton from '../../helpers/SubmitButton.html';
	import { fly } from 'svelte-transitions';
	import { push, splice } from 'svelte-extras';

	export default {
		transitions: { fly },
		components: {
			Loader,
			SubmitButton
		},

		data() {
			return {
				data: {
					id: "",
					patient: "",
					complaints: "",
					complaint_descriptions: "",
					examinations: "",
					examination_descriptions: "",
					investigations: "",
					date: ""
				},
				complaints: [],
				examinations: [],
				investigations: [""],
				all_complaints: [],
				all_examinations: [],
				all_investigations: [],
				loaded: false,
				save: false,
				preview_investigation: false,
				goto_prescription: false,
				tracker: {
					saving: false,
					saved: false,
					error: false
				},
				error_message: ""
			}
		},
		oncreate() {
			this.load();
		},
		methods: {
			push,
			splice,
			loadPatient(patient_id) {
				var { patient } = this.get().data;
				return Patient.getOne(patient_id);
			},
			loadComplaints() {
				return Complaint.getAll();
			},
			loadExaminations() {
				return Examination.getAll();
			},
			loadInvestigations() {
				return Investigation.getAll();
			},
			load() {
				var locs = window.location.href.toString().split(window.location.host)[1].split('/#')[1];
				locs = locs.split('#');

				Model.getOne(parseInt(locs[2]))
					.then((r) => {
						var record = r.data.records;

						if (record.complaints) {
							var complaints = record.complaints.split(','),
								complaint_descriptions = record.complaint_descriptions.split(',');
							for (var i = 0; i < complaints.length; i++) {
								this.get().complaints.push({
									complaint: complaints[i],
									complaint_description: complaint_descriptions[i]
								});
							}
						}

						if (record.examinations) {
							var examinations = record.examinations.split(','),
								examination_descriptions = record.examination_descriptions.split(',');
							for (var i = 0; i < examinations.length; i++) {
								this.get().examinations.push({
									examination: examinations[i],
									examination_description: examination_descriptions[i]
								});
							}
						}

						if (record.investigations) {
							this.get().investigations = record.investigations.split(',');
						}

						Promise.all([
							this.loadPatient(record.patient.id),
							this.loadComplaints(),
							this.loadExaminations(),
							this.loadInvestigations()
						]).then((_r) => {
							this.get().data.patient = _r[0].data.records;
							this.set({
								all_complaints: _r[1].data.records,
								all_examinations: _r[2].data.records,
								all_investigations: _r[3].data.records,
								data: record,
								loaded: true
							});

							document.querySelector("input").focus();
						})
							.catch((e) => {
								this.set({
									error_message: "There is an error loading options!"
								});
							});
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading investigation history!"
						});
					});
			},
			save(e) {
				e.preventDefault();

				var complaints = [],
					complaint_descriptions = [];
				this.get().complaints.forEach((item, index) => {
					complaints.push(item.complaint);
					complaint_descriptions.push(item.complaint_description);
				});

				var examinations = [],
					examination_descriptions = [];
				this.get().examinations.forEach((item, index) => {
					examinations.push(item.examination);
					examination_descriptions.push(item.examination_description);
				})

				this.get().data.complaints = complaints.join();
				this.get().data.complaint_descriptions = complaint_descriptions.join();
				this.get().data.examinations = examinations.join();
				this.get().data.examination_descriptions = examination_descriptions.join();
				this.get().data.investigations = this.get().investigations.join();

				var { data } = this.get();

				this.set({
					save: true,
					tracker: {
						saving: true,
						saved: false,
						error: false
					}
				});

				Model.put(data.id, data)
					.then((r) => {
						this.set({
							tracker: {
								saving: false,
								saved: true,
								error: false
							}
						});

						setTimeout(() => {
							this.set({
								save: false,
								tracker: {
									saved: false
								},
							});
							if (this.get().preview_investigation) {
								window.location.assign("#investigationhistory#" + ('000000' + r.data.records.id).slice(-6));
							}
							else if (this.get().goto_prescription) {
								window.location.assign("#prescriptionhistory#add#i#" + ('000000' + r.data.records.id).slice(-6));
							}
							else {
								window.location.assign("#investigationhistory");
							}
						}, 1500);

					})
					.catch((e) => {
						this.set({
							tracker: {
								saving: false,
								saved: false,
								error: true
							},
							error_message: "There is an error editing investigation history!"
						});
						setTimeout(() => {
							this.set({
								save: false,
								tracker: {
									saving: false,
									saved: false,
									error: false
								},
								error_message: ""
							});
						}, 1500);
					});
			}
		}
	}
</script>