<div class="notification" transition:fly="{y: 200, duration: 1000}">
  <h2 class="title is-2">Comment: List
    <a href="#comment#add" class="button is-info is-pulled-right"><i class="fas fa-plus"></i>&nbsp;Add</a>
  </h2>

  <hr />
  <br />
  <h4 class="subtitle is-4">Search by </h4>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Comment: </label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded">
          <input list="comment_datalist" class="input is-half" type="text" placeholder="Comment"
            bind:value=search.comment autofocus>
          <datalist id="comment_datalist">
            {#each data as each_data}
                <option value={each_data.comment} />
              {/each}
            </datalist>
          </p>
        </div>
      </div>
      <div class="field-label is-normal">
        <label class="label">Alternative: </label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input list="alternative_datalist" class="input is-half" type="text" placeholder="Alternative"
              bind:value=search.alternative>
            <datalist id="alternative_datalist">
              {#each data as each_data}
                {#if each_data.alternative}
                  <option value={each_data.alternative} />
                {/if}
              {/each}
              <option value="None" />
              </datalist>
            </p>
          </div>
        </div>
    </div>
    <div class="{table_div}">
      {#if loaded}
        <table class="table is-fullwidth" transition:fly="{x: 200, duration: 1000}">
          <thead>
            <tr>
              <th>SL</th>
              <th>ID</th>
              <th>Comment</th>
              <th>Alternative</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            {#each data as each_data, i}
                {#if (!search.comment || each_data.comment.toUpperCase().search(search.comment.toUpperCase())>=0)
                  && (!search.alternative || (each_data.alternative && each_data.alternative.toUpperCase().search(search.alternative.toUpperCase())>=0)
                  || (!each_data.alternative && search.alternative.toUpperCase()=="NONE"))}
                  <tr>
                    <th>{++i}</th>
                    <td>{('000000' + each_data.id).slice(-6)}</td>
                    <td>{each_data.comment ? each_data.comment : 'None'}</td>
                    <td>{each_data.alternative ? each_data.alternative : 'None'}</td>
                    <td><a href="#comment#edit#{('000000' + each_data.id).slice(-6)}" class="button is-outlined is-warning"><i class="fas fa-edit"></i></a></td>
                    <td><ConfirmButton context={each_data.id} on:do on:done></ConfirmButton></td>
                  </tr>
                {/if}
              {/each}
          </tbody>
        </table>
      {/if}
    </div>
    {#if !loaded}
      <Loader />
    {/if}
    <center class="has-text-danger has-text-weight-bold">{error_message}</center>
  </div>
<script>
  import Model from "../../../models/comment";
  import Loader from '../../helpers/loader.html';
  import ConfirmButton from '../../helpers/ConfirmButton.html';
  import { fly } from 'svelte-transitions';

  export default {
    transitions: { fly },
    components: {
      Loader,
      ConfirmButton
    },
    data() {
      return {
        data: {
          id: "",
          comment: "",
          alternative: ""
        },
        loaded: false,
        error_message: "",
        search: {
          comment: "",
          alternative: ""
        },
        table_div: ""
      }
    },
    oncreate() {
      this.load();

      this.on('do', (comp) => {
        comp.doing();
        this.delete(comp);
      });

      this.on('done', () => {
        this.load();
      });
    },
    methods: {
      load() {
        Model.getAll()
          .then((e) => {
            this.set({ loaded: true });
            setTimeout(() => {
              this.set({
                table_div: "table_div"
              });
            }, 1000);

            var record = e.data.records;
            this.set({ data: record })
          })
          .catch((e) => {
            this.set({
              loaded: true,
              error_message: "There is an error loading comments!"
            });
          });
      },
      delete(comp) {
        Model.delete(comp.get().context)
          .then((e) => {
            comp.done();
          })
          .catch((e) => {
            comp.error();
          });
      }
    }
  }
</script>