<div class="container" transition:fly="{y: 200, duration: 1000}">
  <div class="columns">
    <div class="column is-half">
      <a href="#patient#add">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-2 has-text-white">Add Patient</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="column is-half">
      <a href="#patient">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-2 has-text-white">Patient List</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half">
      <a href="#investigationhistory">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-2 has-text-white">Investigation</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="column is-half">
      <a href="#prescriptionhistory">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-2 has-text-white">Prescription</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half">
      <a href="#scanner">
        <div class="card highlight">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-2 has-text-white">Scan or Search</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<script>
  import { fly } from 'svelte-transitions';

  export default {
    transitions: { fly }
  }
</script>