<div class="notification" transition:fly="{y: 200, duration: 1000}">
  <h2 class="title is-2">Scanner
    {#if scanned}
      <button class="button is-primary is-pulled-right is-medium" on:click="scan()">
        <i class="fas fa-search"></i>&nbsp;Scan
      </button>
    {/if}
  </h2>

  <hr />
  <video id="qr-video" style="display: none;"></video>
  {#if loaded}
    <!-- start -->
    {#if !scanned && !error_message}
      <div>
        <div class="columns">
          <div class="column is-half" transition:fly="{x: -200, duration: 1000}">
            <p class="title is-5">Scan:</p>
            <div>
              <div id="show-scan-region">
              </div>
            </div>
            <br />
            <center class="has-text-danger has-text-weight-bold">{scanner_message}</center>
          </div>
          <div class="column is-half" transition:fly="{x: 200, duration: 1000}" style="border-left: 5px solid #dbdbdb;">
            <form on:submit="search(event)">
              <p class="title is-5">or Search:</p>
              <div class="field is-horizontal" transition:fly="{x: 200, duration: 1000}">
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <div class="select is-fullwidth">
                        <select bind:value=search_data.type on:change="resetSearch()">
                          <option value="A">Patient</option>
                          <option value="I">Investigation</option>
                          <option value="P">Prescription</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <p class="control is-expanded">
                      <input class="input" type="number" placeholder="ID" bind:value=search_data.id disabled="{search_data.type == 'A' && search_data.search_type != 'I'}" autofocus>
                      </p>
                  </div>
                </div>
              </div>
              {#if search_data.type == 'A'}
                <div class="field is-horizontal" transition:fly="{x: 200, duration: 1000}">
                  <div class="field-body">
                    <div class="field">
                      <div class="control">
                        <div class="select is-fullwidth">
                          <select bind:value=search_data.search_type disabled="{search_data.type != 'A'}" on:change="resetPatientSearch()" autofocus>
                            <option value="I">By ID</option>
                            <option value="N">By Name</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <p class="control is-expanded{(!searched_patients || !searched_patients.length) && !patient_message && search_data.name ? ' is-loading' : ''}">
                        <input list="patient_datalist" class="input" type="text" placeholder="Name" bind:value=search_data.name disabled="{search_data.type != 'A' || (search_data.type == 'A' && search_data.search_type != 'N')}" on:input="searchByName()">
                        <datalist id="patient_datalist">
                          {#each searched_patients as each_data}
                            <option value="{each_data.name}"></option>
                          {/each}
                        </datalist>
                        <center class="has-text-danger has-text-weight-bold">{patient_message}</center>
                      </p>
                    </div>
                  </div>
                </div>
              {/if}
              <div class="field is-horizontal">
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <button type="Submit" class="button is-primary is-pulled-right" disabled="{!search_data.type || (search_data.type != 'A' && !search_data.id) || (!search_data.id && !search_data.name) || patient_message}">
                        Search
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <br />
              <center class="has-text-danger has-text-weight-bold">{search_message}</center>
            </form>
          </div>
        </div>
      </div>
    {/if}
    {#if scanned && !error_message}
      {#if !has_multiple_patients}
        <div transition:fly="{y: 200, duration: 1000}">
          <div class="columns is-vcentered">
            {#if searched_patients_details && searched_patients_details.length && searched_patients_details.length > 1}
            <div class="column tile is-one-quarter">
              <button class="button is-danger is-medium" on:click="goBack()">
                <i class="fas fa-reply"></i>&nbsp;Back
              </button>
            </div>
            {/if}
            <div class="column tile is-half {searched_patients_details && searched_patients_details.length && searched_patients_details.length > 1 ? '' : 'is-offset-one-quarter' }">
              <article class="tile is-child notification is-success">
                <h1 class="title is-1 has-text-centered">{scanned_title}</h1>
                <h4 class="subtitle is-4 has-text-centered">{scanned_subtitle}</h4>
              </article>
            </div>
          </div>
          <hr style="height: 5px;" />
          <h2 class="title is-2">Patient
            <a href="#patient#edit#{('000000' + patient.id).slice(-6)}" class="button is-warning is-pulled-right">
              <i class="fas fa-edit"></i>&nbsp;Edit
            </a>
          </h2>

          <hr />
          <br/>
          <div class="columns">
            <div class="column is-fifth">
              ID: <b>{('000000' + patient.id).slice(-6)}</b>
            </div>
            <div class="column is-fifth">
              Name: <b>{patient.name}</b>
            </div>
            <div class="column is-fifth">
              Age: <b>{patient.age}</b>
            </div>
            <div class="column is-fifth">
              Address: <b>{patient.address}</b>
            </div>
            <div class="column is-fifth">
              Reference: <b>{patient.reference}</b>
            </div>
          </div>
          <hr style="height: 5px;" />
        </div>
        
        <div transition:fly="{y: 200, duration: 1000}">
          <h2 class="title is-2">Investigation History
            <a href="#investigationhistory#add#p#{('000000' + patient.id).slice(-6)}" class="button is-info is-pulled-right"><i class="fas fa-plus"></i>&nbsp;Add</a>
          </h2>

          <hr />
          <br/>
          <div>
              <table class="table is-fullwidth" transition:fly="{x: 200, duration: 1000}">
                <thead>
                  <tr>
                    <th>SL</th>
                    <th>ID</th>
                    <th>Date</th>
                    <th><center>Create Prescription</center></th>
                    <th>View</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  {#if investigation_history && investigation_history.length}
                    {#each investigation_history as each_data, i}
                        <tr class="{active_investigation_history && active_investigation_history.id && each_data.id && active_investigation_history.id == each_data.id ? 'has-background-success has-text-white has-text-weight-bold' : ''}">
                          <th>{++i}</th>
                          <td>{('000000' + each_data.id).slice(-6)}</td>
                          <td>{each_data.date ? each_data.date : 'None'}</td>
                          <td><center><a href="#prescriptionhistory#add#i#{('000000' + each_data.id).slice(-6)}" class="button is-link"><i class="fas fa-file-prescription"></i></a></center></td>
                          <td><a class="button is-info" on:click="showInvestigation(each_data.id)"><i class="fas fa-file-pdf"></i></a></td>
                          <td><a href="#investigationhistory#edit#{('000000' + each_data.id).slice(-6)}" class="button is-outlined is-warning"><i class="fas fa-edit"></i></a></td>
                        </tr>
                    {/each}
                  {/if}
                </tbody>
              </table>
              {#if !investigation_history || investigation_history.length == 0}
                <center class="has-text-danger has-text-weight-bold">{investigation_message}</center>
              {/if}
          </div>
          <hr style="height: 5px;" />
        </div>

        <div transition:fly="{y: 200, duration: 1000}">
          <h2 class="title is-2">Prescription History
            <a href="#prescriptionhistory#add#p#{('000000' + patient.id).slice(-6)}" class="button is-info is-pulled-right"><i class="fas fa-plus"></i>&nbsp;Add</a>
          </h2>

          <hr />
          <br />
          <div>
              <table class="table is-fullwidth" transition:fly="{x: 200, duration: 1000}">
                <thead>
                  <tr>
                    <th>SL</th>
                    <th>ID</th>
                    <th>Investigation</th>
                    <th>Date</th>
                    <th>View Short</th>
                    <th>View Details</th>
                    <th>Edit</th>
                  </tr>
                </thead>
                <tbody>
                  {#if prescription_history && prescription_history.length}
                    {#each prescription_history as each_data, i}
                      <!-- {#if (!search.patient || each_data.patient.name.toUpperCase().search(search.patient.toUpperCase())>=0) && (!search.investigation || each_data.investigation_history.id.toString().search(search.investigation)>=0) && (!search.date || each_data.date.search(search.date)>=0)} -->
                        <tr class="{(search_data.type == 'I' && active_investigation_history && active_investigation_history.id && each_data.investigation_history && active_investigation_history.id == each_data.investigation_history) || (search_data.type == 'P' && active_prescription_history && active_prescription_history.id && each_data.id && active_prescription_history.id == each_data.id) ? 'has-background-success has-text-white has-text-weight-bold' : ''}">
                          <th>{++i}</th>
                          <td>{('000000' + each_data.id).slice(-6)}</td>
                          <td>{each_data.investigation_history ? ('000000' + each_data.investigation_history).slice(-6) : 'None'}</td>
                          <td>{each_data.date ? each_data.date : 'None'}</td>
                          <td><a class="button is-link" on:click="showShortPrescription(each_data.id)"><i class="fas fa-file-pdf"></i></a></td>
                          <td><a class="button is-info" on:click="showPrescription(each_data.id)"><i class="fas fa-file-pdf"></i></a></td>
                          <td><a href="#prescriptionhistory#edit#{('000000' + each_data.id).slice(-6)}" class="button is-outlined is-warning"><i class="fas fa-edit"></i></a></td>
                        </tr>
                      <!-- {/if} -->
                    {/each}
                  {/if}
                </tbody>
              </table>
              {#if !prescription_history || prescription_history.length == 0}
                <center class="has-text-danger has-text-weight-bold">{prescription_message}</center>
              {/if}
          </div>
          <hr style="height: 5px;" />
        </div>
      {/if}
      {#if has_multiple_patients}
        <div transition:fly="{y: 200, duration: 1000}">
          <div class="columns">
            <div class="column tile is-half is-offset-one-quarter">
              <article class="tile is-child notification is-success">
                <h1 class="title is-1 has-text-centered">{searched_patients_details && searched_patients_details.length ? searched_patients_details.length + ' patient' + (searched_patients_details.length > 1 ? 's' : '') : '' } found</h1>
                <h4 class="subtitle is-4 has-text-centered">Select one</h4>
              </article>
            </div>
          </div>
          <table class="table is-fullwidth" transition:fly="{x: 200, duration: 1000}">
            <thead>
              <tr>
                <th>SL</th>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th>Reference</th>
              </tr>
            </thead>
            <tbody>
              {#if searched_patients_details && searched_patients_details.length}
                {#each searched_patients_details as each_data, i}
                  <!-- {#if (!search.name || each_data.name.toUpperCase().search(search.name.toUpperCase())>=0) && (!search.phone || each_data.phone.toUpperCase().search(search.phone.toUpperCase())>=0)} -->
                    <tr class="cursorPointer" on:click="select(each_data.id)">
                      <th>{++i}</th>
                      <td>{('000000' + each_data.id).slice(-6)}</td>
                      <td>{each_data.name ? each_data.name : 'None'}</td>
                      <td>{each_data.age ? each_data.age : 'None'}</td>
                      <td>{each_data.gender ? (each_data.gender=='M' ? 'Male' : (each_data.gender=='F' ? 'Female' : 'Others')) : 'None'}</td>
                      <td>{each_data.phone ? each_data.phone : 'None'}</td>
                      <td>{each_data.email ? each_data.email : 'None'}</td>
                      <td>{each_data.address ? each_data.address : 'None'}</td>
                      <td>{each_data.reference ? each_data.reference : 'None'}</td>
                    </tr>
                  <!-- {/if} -->
                {/each}
              {/if}
            </tbody>
          </table>
        </div>
      {/if}
    {/if}
    <!-- end -->
  {/if}
  {#if investigation_modal}
    <div class="modal is-active">
      <div class="modal-background" transition:fly="{duration: 1000}"></div>
      <div class="modal-card" transition:fly="{y: -200, duration: 1000}" style="width:50%; height:100%">
        <header class="modal-card-head">
          <b class="modal-card-title">Investigation ID: {('000000' + data_investigation_modal_id).slice(-6)}</b>
          <button class="delete" aria-label="close" on:click="set({investigation_modal: false})"></button>
        </header>
        <section class="modal-card-body">
            {#if loaded_investigation_modal}
              <embed type='application/pdf' src="" style="width:100%; height:98%" id="emb">
            {/if}
            {#if !loaded_investigation_modal}
              <Loader />
            {/if}
            <center class="has-text-danger has-text-weight-bold">{error_message_investigation_modal}</center>
        </section>
        <footer class="modal-card-foot">
          <a class="button is-warning" href="#investigationhistory#edit#{data_investigation_modal_id}"><i class="fas fa-edit"></i>&nbsp;Edit</a>
          <a class="button is-info" on:click="set({investigation_modal: false})"><i class="fas fa-times"></i>&nbsp;Cancel</a>
        </footer>
      </div>
    </div>
  {/if}
  {#if prescription_modal}
  <div class="modal is-active">
    <div class="modal-background" transition:fly="{duration: 1000}"></div>
    <div class="modal-card" transition:fly="{y: -200, duration: 1000}" style="width:50%; height:100%">
      <header class="modal-card-head">
        <b class="modal-card-title">Prescription ID: {('000000' + data_prescription_modal_id).slice(-6)}</b>
        <button class="delete" aria-label="close" on:click="set({prescription_modal: false})"></button>
      </header>
      <section class="modal-card-body">
          {#if loaded_prescription_modal}
            <embed type='application/pdf' src="" style="width:100%; height:98%" id="emb">
          {/if}
          {#if !loaded_prescription_modal}
            <Loader />
          {/if}
          <center class="has-text-danger has-text-weight-bold">{error_message_prescription_modal}</center>
      </section>
      <footer class="modal-card-foot">
        <a class="button is-warning" href="#prescriptionhistory#edit#{data_prescription_modal_id}"><i class="fas fa-edit"></i>&nbsp;Edit</a>
        <a class="button is-info" on:click="set({prescription_modal: false})"><i class="fas fa-times"></i>&nbsp;Cancel</a>
      </footer>
    </div>
  </div>
  {/if}
  {#if !loaded}
    <Loader />
  {/if}
  <br />
  <center class="has-text-danger has-text-weight-bold">{error_message}</center>
</div>
<script>
  import Patient from "../../../models/patient";
  import InvestigationHistory from "../../../models/investigation_history";
  import PrescriptionHistory from "../../../models/prescription_history";
  import Pdf from "../../../models/pdf";
  import Loader from '../../helpers/loader.html';
  import ConfirmButton from '../../helpers/ConfirmButton.html';
  import { fly } from 'svelte-transitions';
  import QrScanner from "../Scanner/qr-scanner.min.js";

  export default {
    transitions: { fly },
    components: {
      Loader,
      ConfirmButton
    },
    data() {
      return {
        patient: {
          id: "",
          name: "",
          age: "",
          address: "",
          reference: ""
        },
        investigation_history: [],
        prescription_history: [],
        active_investigation_history: {},
        active_prescription_history: {},
        loaded: false,
        error_message: "",
        scanner: "",
        scanner_message: "",
        search_message: "",
        scanned: false,
        scanned_title: "",
        scanned_subtitle: "",
        search_data: {
          type: "A",
          id: "",
          search_type: "I",
          name: ""
        },
        searched_patients: [],
        has_multiple_patients: false,
        searched_patients_details: [],
        patient_message: "",
        investigation_message: "",
        prescription_message: "",
        loaded_investigation_modal: false,
        error_message_investigation_modal: "",
        investigation_modal: false,
        data_investigation_modal_id: "",
        loaded_prescription_modal: false,
        error_message_prescription_modal: "",
        prescription_modal: false,
        data_prescription_modal_id: "",
      }
    },
    oncreate() {
      //this.load();

      QrScanner.WORKER_PATH = './js/qr-scanner-worker.min.js';
      const video = document.getElementById('qr-video');


      // ####### Web Cam Scanning #######

      this.set({
        scanner: new QrScanner(video, result => this.setResult(result), error => {
          this.set({
            scanner_message: "Scanning..."
          });
        })
      });

      if (window.location.href.toString().split(window.location.host)[1].split('/#')[1].split('#').length != 3) {
        this.get().scanner.start();
      }

      this.set({
        loaded: true
      });

      // for debugging
      //window.scanner = this.get().scanner;

      const input = document.getElementById('show-scan-region');
      const label = input.parentNode;
      label.parentNode.insertBefore(this.get().scanner.$canvas, label.nextSibling);
      this.get().scanner.$canvas.style.display = 'block';

      this.get().scanner.setInversionMode("original");

      /*document.getElementById('start-button').addEventListener('click', () => {
          scanner.start();
      });
  
      document.getElementById('stop-button').addEventListener('click', () => {
          scanner.stop();
      });*/

      this.load();
    },
    ondestroy() {
      this.get().scanner.stop();
    },
    methods: {
      load() {
        var locs = window.location.href.toString().split(window.location.host)[1].split('/#')[1];
        locs = locs.split('#');
        if (locs && locs.length == 3) {
          if (locs[1] == "patient") {
            this.set({
              search_data: {
                type: "A",
                id: locs[2],
                search_type: "I",
                name: ""
              }
            });
          }
          else if (locs[1] == "investigation") {
            this.set({
              search_data: {
                type: "I",
                id: locs[2],
                search_type: "I",
                name: ""
              }
            });
          }
          else if (locs[1] == "prescription") {
            this.set({
              search_data: {
                type: "P",
                id: locs[2],
                search_type: "I",
                name: ""
              }
            });
          }
          this.set({
            scanned: true,
            loaded: false
          });

          var { search_data } = this.get();
          if (search_data && search_data.type && search_data.search_type && search_data.search_type == "I" && search_data.id) {
            this.setResult(search_data.type + "-" + parseInt(search_data.id));
          }

        }

      },
      setResult(result) {
        this.get().scanner.stop();
        if (result) {
          this.set({
            scanner_message: "",
          });

          var id = result.split("-")[1];
          if (result[0] == 'A') {
            this.set({
              search_data: {
                type: "A",
                id: id,
                search_type: "I",
                name: ""
              },
              scanned_title: "Patient",
              scanned_subtitle: "ID - " + ('000000' + id).slice(-6)
            });
            this.loadPatient(id);
          }
          else if (result[0] == 'I') {
            this.set({
              search_data: {
                type: "I",
                id: id,
                search_type: "I",
                name: ""
              },
              scanned_title: "Investigation",
              scanned_subtitle: "ID - " + ('000000' + id).slice(-6)
            });
            this.loadInvestigationHistory(id);
          }
          else if (result[0] == 'P') {
            this.set({
              search_data: {
                type: "P",
                id: id,
                search_type: "I",
                name: ""
              },
              scanned_title: "Prescription",
              scanned_subtitle: "ID - " + ('000000' + id).slice(-6)
            });
            this.loadPrescriptionHistory(id);
          }
          else {
            this.set({
              error_message: "Invalid data"
            });
            setTimeout(() => {
              this.scan();
            }, 1500);
          }
        }
        else {
          this.set({
            error_message: "Invalid data"
          });
          setTimeout(() => {
            this.scan();
          }, 1500);
        }
      },
      search(e) {
        e.preventDefault();

        this.set({
          scanned: true,
          loaded: false
        });

        var { search_data } = this.get();
        if (search_data && search_data.type && search_data.search_type && search_data.search_type == "I" && search_data.id) {
          this.setResult(search_data.type + "-" + parseInt(search_data.id));
        }
        else if (search_data && search_data.type && search_data.search_type && search_data.type == "A" && search_data.search_type == "N" && search_data.name) {
          this.set({
            searched_patients: []
          });
          var search = {
            name: this.get().search_data.name,
            phone: "",
            fromDate: "2020-01-01",
            toDate: new Date().getFullYear() + "-" + (("0" + (new Date().getMonth() + 1)).slice(-2)) + "-" + (("0" + new Date().getDate()).slice(-2))
          };
          Patient.search(search)
            .then((e) => {
              if (e && e.data && e.data._meta && e.data._meta.count > 0) {
                var record = e.data.records;
                if (record && record.length) {
                  if (record.length == 1) {
                    this.setResult("A-" + parseInt(record[0].id));
                  }
                  else if (record.length > 1) {
                    this.set({
                      has_multiple_patients: true,
                      searched_patients_details: record,
                      scanned: true,
                      loaded: true
                    });
                  }
                }
              }
              else {
                this.set({
                  error_message: "Invalid data!",
                  scanned: true,
                  loaded: true
                });
                setTimeout(() => {
                  this.scan();
                }, 1500);
              }
            })
            .catch((e) => {
              this.set({
                error_message: "There is an error loading patient!",
                scanned: true,
                loaded: true
              });
            })
        }
      },
      searchByName() {
        if (this.get().search_data.name) {
          this.set({
            searched_patients: [],
            patient_message: ""
          });
          var search = {
            name: this.get().search_data.name,
            phone: "",
            fromDate: "2020-01-01",
            toDate: new Date().getFullYear() + "-" + (("0" + (new Date().getMonth() + 1)).slice(-2)) + "-" + (("0" + new Date().getDate()).slice(-2))
          };
          Patient.search(search)
            .then((e) => {
              if (e && e.data && e.data._meta && e.data._meta.count > 0) {
                var record = e.data.records;
                this.set({
                  searched_patients: this.filterForDistinct(record, "name")
                });
              }
              else {
                this.set({
                  patient_message: "There is no matching data!"
                });
              }
            })
            .catch((e) => {
              this.set({
                error_message: "There is an error searching patients!"
              });
            })
        }
        else {
          this.set({
            searched_patients: [],
            patient_message: ""
          });
        }
      },
      scan() {
        this.get().scanner.start();
        this.set({
          patient: {
            id: "",
            name: "",
            age: "",
            address: "",
            reference: ""
          },
          investigation_history: [],
          prescription_history: [],
          active_investigation_history: {},
          active_prescription_history: {},
          search_data: {
            type: "A",
            id: "",
            search_type: "I",
            name: ""
          },
          searched_patients: [],
          searched_patients_details: [],
          patient_message: "",
          investigation_message: "",
          prescription_message: "",
          error_message: "",
          scanned: false,
          loaded: true,
          has_multiple_patients: false,
          scanner_message: "",
          search_message: "",
          scanned_title: "",
          scanned_subtitle: ""
        });

        //window.scanner = this.get().scanner;

        const input = document.getElementById('show-scan-region');
        const label = input.parentNode;
        label.parentNode.insertBefore(this.get().scanner.$canvas, label.nextSibling);
        this.get().scanner.$canvas.style.display = 'block';

        this.get().scanner.setInversionMode("original");
      },
      loadPrescriptionHistory(id) {
        PrescriptionHistory.getOne(id)
          .then((e) => {
            if (e && e.data && e.data.records && e.data.records.id) {
              var record = e.data.records;
              this.set({
                active_prescription_history: record
              });
              if (record.investigation_history && record.investigation_history.id) {
                this.set({
                  active_investigation_history: record.investigation_history
                });
              }
              if (record.patient && record.patient.id) {
                this.loadPatient(record.patient.id);
                /*this.set({
                  patient: record.patient,
                  has_patient: true
                });*/
              }
              /*if (record.investigation_history && record.investigation_history.id) {
                this.set({
                  investigation_history: record.investigation_history,
                  has_investigation: true
                });
              }
              this.set({
                prescription_history: record,
                has_prescription: true,
                scanned_title: "Prescription",
                scanned_subtitle: "ID - " + ('000000' + record.id).slice(-6),
                scanned: true,
                loaded: true
              });*/
            } else {
              this.set({
                error_message: "There is no matching data!"
              });
            }
          })
          .catch((e) => {
            this.set({
              error_message: "There is an error loading prescription!"
            });
          });
      },
      loadInvestigationHistory(id) {
        InvestigationHistory.getOne(id)
          .then((e) => {
            if (e && e.data && e.data.records && e.data.records.id) {
              var record = e.data.records;
              this.set({
                active_investigation_history: record
              });
              if (record.patient && record.patient.id) {
                this.loadPatient(record.patient.id);
                /*this.set({
                  patient: record.patient,
                  has_patient: true
                });*/
              }
              /*if (record.prescription_history && record.prescription_history.length > 0 && record.prescription_history[record.prescription_history.length - 1].id) {
                this.set({
                  prescription_history: record.prescription_history[record.prescription_history.length - 1],
                  has_prescription: true
                });
              }
              this.set({
                investigation_history: record,
                has_investigation: true,
                scanned_title: "Investigation",
                scanned_subtitle: "ID - " + ('000000' + record.id).slice(-6),
                scanned: true,
                loaded: true
              });*/
            } else {
              this.set({
                error_message: "There is no matching data!",
                scanned: true,
                loaded: true
              });
            }
          })
          .catch((e) => {
            this.set({
              error_message: "There is an error loading investigation!",
              scanned: true,
              loaded: true
            });
          });
      },
      loadPatient(id) {
        Patient.getOne(id)
          .then((e) => {
            if (e && e.data && e.data.records && e.data.records.id) {
              var record = e.data.records;
              if (record.investigation_history && record.investigation_history.length > 0 && record.investigation_history[record.investigation_history.length - 1].id) {
                this.set({
                  investigation_history: record.investigation_history
                });
                this.get().investigation_history.sort((a, b) => parseFloat(b.id) - parseFloat(a.id));
              }
              if (record.prescription_history && record.prescription_history.length > 0 && record.prescription_history[record.prescription_history.length - 1].id) {
                this.set({
                  prescription_history: record.prescription_history
                });
                this.get().prescription_history.sort((a, b) => parseFloat(b.id) - parseFloat(a.id));
              }
              this.set({
                patient: record,
                scanned: true,
                loaded: true
              });
              if (!record.investigation_history || record.investigation_history.length == 0) {
                this.set({
                  investigation_message: "There is no matching data!"
                });
              }
              if (!record.prescription_history || record.prescription_history.length == 0) {
                this.set({
                  prescription_message: "There is no matching data!"
                });
              }
            }
            else {
              this.set({
                error_message: "Invalid data!",
                scanned: true,
                loaded: true
              });
              setTimeout(() => {
                this.scan();
              }, 1500);
            }
          })
          .catch((e) => {
            this.set({
              error_message: "There is an error loading patient!",
              scanned: true,
              loaded: true
            });
          });
      },
      showInvestigation(id) {
        Pdf.getPdf('i,' + id)
          .then((e) => {
            this.set({
              investigation_modal: true,
              loaded_investigation_modal: true,
              data_investigation_modal_id: id
            });
            const blob = new Blob([e.data], { type: 'application/pdf' });
            const url = URL.createObjectURL(blob);
            document.getElementById("emb").setAttribute('src', url);
          })
          .catch((e) => {
            this.set({
              loaded_investigation_modal: true,
              error_message_investigation_modal: "There is an error loading investigation history!"
            });
          });
      },
      showShortPrescription(id) {
        Pdf.getPdf('s,' + id)
          .then((e) => {
            this.set({
              prescription_modal: true,
              loaded_prescription_modal: true,
              data_prescription_modal_id: id
            });
            const blob = new Blob([e.data], { type: 'application/pdf' });
            const url = URL.createObjectURL(blob);
            document.getElementById("emb").setAttribute('src', url);
          })
          .catch((e) => {
            this.set({
              loaded_prescription_modal: true,
              error_message_prescription_modal: "There is an error loading prescription history!"
            });
          });
      },
      showPrescription(id) {
        Pdf.getPdf('p,' + id)
          .then((e) => {
            this.set({
              prescription_modal: true,
              loaded_prescription_modal: true,
              data_prescription_modal_id: id
            });
            const blob = new Blob([e.data], { type: 'application/pdf' });
            const url = URL.createObjectURL(blob);
            document.getElementById("emb").setAttribute('src', url);
          })
          .catch((e) => {
            this.set({
              loaded_prescription_modal: true,
              error_message_prescription_modal: "There is an error loading prescription history!"
            });
          });
      },
      resetSearch() {
        this.set({
          search_data: {
            type: this.get().search_data.type,
            id: this.get().search_data.id,
            search_type: "I",
            name: ""
          },
          patient_message: ""
        });
      },
      resetPatientSearch() {
        this.set({
          search_data: {
            type: this.get().search_data.type,
            id: "",
            search_type: this.get().search_data.search_type,
            name: ""
          },
          patient_message: ""
        });
      },
      filterForDistinct(arrOfObjs, filter) {
        return arrOfObjs = arrOfObjs.filter((obj, index, self) =>
          index === self.findIndex((t) => (
            t[filter] === obj[filter]
          ))
        );
      },
      select(id) {
        this.set({
          scanned: true,
          loaded: false,
          search_data: {
            type: "A",
            id: id,
            search_type: "I",
            name: ""
          },
          patient_message: "",
          has_multiple_patients: false
        });
        this.setResult("A-" + id);
      },
      goBack() {
        if (this.get().searched_patients_details && this.get().searched_patients_details.length && this.get().searched_patients_details.length > 1) {
          this.set({
            scanned: true,
            loaded: false,
            has_multiple_patients: true
          });
          setTimeout(() => {
            this.set({
              loaded: true
            });
          }, 500);
        }
        else {
          this.scan();
        }
      }
    }
  }
</script>