<div class="notification" transition:fly="{y: 200, duration: 1000}">
	<h2 class="title is-2">Prescription History: Add
		<a href="#investigationhistory" class="button is-info is-pulled-right"><i class="fas fa-list"></i>&nbsp;History</a>
	</h2>
	<hr />
	{#if !loaded}
				<Loader />
			{/if}
			{#if loaded}
	<div transition:fly="{y: -200, duration: 1000}">
		<p class="title is-5">Patient:</p>
	<div class="columns">
		<div class="column is-one-fifth">
			ID: <a class="has-text-info has-text-weight-bold" href="#scanner#patient#{('000000' + data.patient.id).slice(-6)}">{('000000' + data.patient.id).slice(-6)}</a>
		</div>
		<div class="column is-one-fifth">
			Name: <b>{data.patient.name}</b>
		</div>
		<div class="column is-one-fifth">
			Age: <b>{data.patient.age}</b>
		</div>
		<div class="column is-one-fifth">
			Address: <b>{data.patient.address}</b>
		</div>
		<div class="column is-one-fifth">
			Reference: <b>{data.patient.reference}</b>
		</div>
	</div>
	<hr style="height: 5px;" />
</div>
	<form on:submit="save(event)">
		<div class="columns">
			<div class="column is-one-third" transition:fly="{x: -200, duration: 1000}" style="border-right: 5px #dbdbdb solid;">
				<div class="field">
					<label class="label">Diagnoses</label>
					{#each diagnoses as diagnosis, i}
						<div class="field is-grouped" transition:fly="{y: -30, duration: 500}">
							<div class="control is-expanded">
								<input list="diagnosis_datalist" class="input" type="text" placeholder="Diagnosis" bind:value=diagnosis.diagnosis disabled="{save}" required autofocus>
							</div>
							<div class="control is-expanded">
								<textarea class="textarea" rows="1" placeholder="Description" bind:value=diagnosis.diagnosis_description disabled="{save}"></textarea>
							</div>
							<div class="control">
								<button type="button" class="button is-danger" on:click="splice('diagnoses', i, 1)"><i class="fas fa-times"></i></button>
							</div>
						</div>
					{/each}
						<datalist id="diagnosis_datalist">
							{#each all_diagnoses as diagnosis}
								<option value="{diagnosis.diagnosis}"/>
							{/each}
						</datalist>
				</div>
				<div class="field add">
					<div class="control">
						<button type="button" class="button is-success" on:click="push('diagnoses', {diagnosis:'',diagnosis_description:''})"><i class="fas fa-plus"></i></button>
					</div>
				</div>
				{#if complaints && complaints.length}
					<hr />
					<p class="title is-5">Complaints:</p>
					{#if complaints.length}
						{#each complaints as each_data}
							<p>{each_data.complaint}{each_data.complaint_description ? ': ' + each_data.complaint_description : '' }</p>
						{/each}
					{:else}
						<p>None</p>
					{/if}
				{/if}
				{#if examinations && examinations.length}
					<hr />
					<p class="title is-5">Examinations:</p>
					{#if examinations.length}
						{#each examinations as each_data}
						<p>{each_data.examination}: {each_data.examination_description ? each_data.examination_description : 'NAD' }</p>
						{/each}
					{:else}
						<p>None</p>
					{/if}
				{/if}
				{#if investigations && investigations.length}
					<hr />
					<p class="title is-5">Investigations:</p>
					{#if investigations.length}
						{#each investigations as each_data}
							<div class="field is-grouped">
								<div class="control is-expanded">
									{each_data.investigation}:&nbsp;
								</div>
								<div class="control is-expanded">
									<input class="input" type="text" placeholder="Description" bind:value=each_data.investigation_description disabled="{save}">
								</div>
							</div>
						{/each}
					{:else}
						<p>None</p>
					{/if}
				{/if}
			</div>
			<div class="column is-two-thirds" transition:fly="{x: 200, duration: 1000}">
				<div class="field">
					<div class="field is-grouped">
						<label class="label">Medicines</label>
						<div class="control is-expanded">
							<button class="button is-info is-pulled-right" disabled="{!loaded_last_medicines}" on:click="loadPrescription()">Load Last Prescribed Medicines</button>
						</div>
					</div>
					{#if loaded_last_medicines}
						{#each medicine_details as medicine_detail, i}
							<div class="field is-grouped" transition:fly="{y: -30, duration: 500}">
								<div class="control is-expanded">
									<input list="medicine_datalist" class="input" type="text" placeholder="Medicine" bind:value=medicine_detail.medicine disabled="{save}" required on:input="loadMedicines(this.value)" on:focus="loadMedicines(this.value)" autofocus style="text-transform: uppercase;">
								</div>
								<div class="control is-expanded">
									<input list="time_datalist" class="input" type="text" placeholder="Times" bind:value=medicine_detail.time disabled="{save}" required>
								</div>
								<div class="control is-expanded">
									<input list="comment_datalist" class="input" type="text" placeholder="Comments" bind:value=medicine_detail.comment disabled="{save}">
								</div>
								<div class="control is-expanded">
									<input list="duration_datalist" class="input" type="text" placeholder="Duration" bind:value=medicine_detail.duration disabled="{save}" required>
								</div>
								<div class="control">
									<button type="button" class="button is-danger" on:click="splice('medicine_details', i, 1)"><i class="fas fa-times"></i></button>
								</div>
							</div>
						{/each}
					{:else}
						<Loader />
					{/if}
					<datalist id="medicine_datalist">
						{#if all_medicines && all_medicines.length > 0}
							{#each all_medicines as medicine}
								<option value="{medicine.medicine}">{medicine.generics ? medicine.generics : 'None'}</option>
							{/each}
						{/if}
					</datalist>
					<datalist id="time_datalist">
						{#each all_times as time}
							<option value="{time.time}">{time.alternative ? time.alternative : 'None'}</option>
						{/each}
					</datalist>
					<datalist id="comment_datalist">
						{#each all_comments as comment}
							<option value="{comment.comment}">{comment.alternative ? comment.alternative : 'None'}</option>
						{/each}
					</datalist>
					<datalist id="duration_datalist">
						{#each all_durations as duration}
							<option value="{duration.duration}">{duration.alternative ? duration.alternative : 'None'}</option>
						{/each}
					</datalist>
				</div>
				<div class="field add">
					<div class="control">
						<button type="button" class="button is-success" on:click="push('medicine_details', {medicine:'',time:'',comment:'',duration:''})"><i class="fas fa-plus"></i></button>
					</div>
				</div>
				<hr style="height: 5px;" />
				<div class="field">
					<label class="label">Advices</label>
					{#each advices as advice, i}
						<div class="field is-grouped" transition:fly="{y: -30, duration: 500}">
							<div class="control is-expanded">
								<input list="advice_datalist" class="input" type="text" placeholder="Advice" bind:value=advice disabled="{save}" required autofocus>
							</div>
							<div class="control">
								<button type="button" class="button is-danger" on:click="splice('advices', i, 1)"><i class="fas fa-times"></i></button>
							</div>
						</div>
					{/each}
					<datalist id="advice_datalist">
						{#each all_advices as advice}
							<option value="{advice.advice}">{advice.alternative ? advice.alternative : 'None'}</option>
						{/each}
					</datalist>
				</div>
				<div class="field add">
					<div class="control">
						<button type="button" class="button is-success" on:click="push('advices', '')"><i class="fas fa-plus"></i></button>
					</div>
				</div>
				<div class="field">
					<label class="label">Next Visit</label>
					<div class="field is-grouped">
						<div class="control is-expanded">
							<input list="next_visit_datalist" class="input" type="text" placeholder="Next Visit" bind:value=data.next_visit disabled="{save}">
						</div>
					</div>
					<datalist id="next_visit_datalist">
						{#each all_next_visits as next_visit}
							<option value="{next_visit.next_visit}">{next_visit.alternative ? next_visit.alternative : 'None'}</option>
						{/each}
					</datalist>
				</div>
				<div class="field">
					<label class="label">Referred to</label>
					<div class="field is-grouped">
						<div class="control is-expanded">
							<input list="referee_datalist" class="input" type="text" placeholder="Referred to" bind:value=data.referee disabled="{save}">
						</div>
					</div>
					<datalist id="referee_datalist">
						{#each all_referees as referee}
							<option value="{referee.referee}"/>
						{/each}
					</datalist>
				</div>
				<hr style="height: 5px;" />
				<div class="field is-grouped">
					<div class="control">
						<SubmitButton tracker={tracker} on:submit></SubmitButton>
					</div>
					<div class="control">
						<button class="button is-info" type="Submit" disabled="{save}" on:click="set({preview_prescription: true})">
							<i class="fas fa-file-pdf"></i>&nbsp;Save and Preview Prescription
						</button>
					</div>
					<div class="control">
						<button class="button is-success" type="Submit" disabled="{save}" on:click="set({preview_short_prescription: true})">
							<i class="fas fa-file-pdf"></i>&nbsp;Save and Preview Short Prescription
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	{/if}
	<center class="has-text-danger has-text-weight-bold">{error_message}</center>
</div>

<script>
	import Model from "../../../models/prescription_history";
	import Patient from "../../../models/patient";
	import InvestigationHistory from "../../../models/investigation_history";
	import Diagnosis from "../../../models/diagnosis";
	import Medicine from "../../../models/medicine";
	import Time from "../../../models/time";
	import Comment from "../../../models/comment";
	import Duration from "../../../models/duration";
	import Advice from "../../../models/advice";
	import NextVisit from "../../../models/next_visit";
	import Referee from "../../../models/referee";
	import Prescription from "../../../models/prescription";
	import Loader from '../../helpers/loader.html';
	import SubmitButton from '../../helpers/SubmitButton.html';
	import { fly } from 'svelte-transitions';
	import { push, splice } from 'svelte-extras';

	export default {
		transitions: { fly },
		components: {
			Loader,
			SubmitButton
		},
		oncreate() {
			var locs = window.location.href.toString().split(window.location.host)[1].split('/#')[1].split('#');
			if (locs[2] == "p") {
				this.get().data.patient = parseInt(locs[3]);
				this.loadPatient();
			}
			else {
				this.get().data.investigation_history = parseInt(locs[3]);
				this.LoadInvestigationHistory();
			}
			this.loadDiagnoses();
			this.loadMedicines();
			this.loadTimes();
			this.loadComments();
			this.loadDurations();
			this.loadAdvices();
			this.loadNextVisits();
			this.loadReferees();
		},
		data() {
			return {
				data: {
					patient: "",
					investigation_history: "",
					investigation_descriptions: "",
					diagnoses: "",
					diagnosis_descriptions: "",
					medicines: "",
					times: "",
					comments: "",
					durations: "",
					advices: "",
					next_visit: "",
					referee: "",
					date: ""
				},
				diagnoses: [{
					diagnosis: "",
					diagnosis_description: ""
				}],
				complaints: [],
				examinations: [],
				investigations: [],
				medicine_details: [{
					medicine: "",
					time: "",
					comment: "",
					duration: ""
				}],
				advices: [""],
				all_diagnoses: [],
				all_medicines: [],
				all_times: [],
				all_comments: [],
				all_durations: [],
				all_advices: [],
				all_next_visits: [],
				all_referees: [],
				prescription: "",
				loaded: false,
				loaded_last_medicines: true,
				save: false,
				preview_prescription: false,
				preview_short_prescription: false,
				tracker: {
					saving: false,
					saved: false,
					error: false
				},
				error_message: "",
				search_medicine: ""
			}
		},
		methods: {
			push,
			splice,
			loadPatient() {
				var { patient } = this.get().data;
				Patient.getOne(patient)
					.then((e) => {
						var record = e.data.records;
						this.get().data.patient = record;
						this.set({
							loaded: true,
							complaints: "",
							examinations: "",
							investigations: ""
						});

						document.querySelector("input").focus();
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading patient!"
						});
					});
			},
			LoadInvestigationHistory() {
				var { investigation_history } = this.get().data;
				InvestigationHistory.getOne(investigation_history)
					.then((e) => {
						var record = e.data.records;

						// patient record
						this.get().data.patient = record.patient;

						if (record.complaints) {
							var complaints = record.complaints.split(','),
								complaint_descriptions = record.complaint_descriptions.split(',');
							for (var i = 0; i < complaints.length; i++) {
								this.get().complaints.push({
									complaint: complaints[i],
									complaint_description: complaint_descriptions[i]
								});
							}
						}
						if (record.examinations) {
							var examinations = record.examinations.split(','),
								examination_descriptions = record.examination_descriptions.split(',');
							for (var i = 0; i < examinations.length; i++) {
								this.get().examinations.push({
									examination: examinations[i],
									examination_description: examination_descriptions[i]
								});
							}
						}
						if (record.investigations) {
							var investigations = record.investigations.split(','),
								investigation_descriptions = [];
							if (record.investigation_descriptions) {
								investigation_descriptions = record.investigation_descriptions.split(',');
							}
							else {
								for (var i = 0; i < investigations.length; i++) {
									investigation_descriptions[i] = "";
								}
							}
							for (var i = 0; i < investigations.length; i++) {
								this.get().investigations.push({
									investigation: investigations[i],
									investigation_description: investigation_descriptions[i]
								});
							}
						}
						if (record.diagnoses) {
							var diagnoses = [],
								diagnosis_descriptions = [];
							diagnoses = record.diagnoses.split(',');
							diagnosis_descriptions = record.diagnosis_descriptions.split(',');
							this.get().diagnoses = [];
							for (var i = 0; i < diagnoses.length; i++) {
								this.get().diagnoses.push({
									diagnosis: diagnoses[i],
									diagnosis_description: diagnosis_descriptions[i]
								});
							}
						}

						this.set({
							loaded: true
						});

						document.querySelector("input").focus();
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading investigation history!"
						});
					});
			},
			loadDiagnoses() {
				Diagnosis.getAll()
					.then((e) => {
						var record = e.data.records;
						this.set({ all_diagnoses: record });
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading diagnoses!"
						});
					});
			},
			loadMedicines(dataToSearch = "") {
				this.get().search_medicine = dataToSearch;
				Medicine.search({
          dataToSearch: dataToSearch,
          limit: 10,
					offset: 0
				})
					.then((e) => {
						var record = e.data.records;
						if(this.get().search_medicine === dataToSearch) {
							this.set({ all_medicines: record });
						}
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading medicines!"
						});
					});
			},
			loadTimes() {
				Time.getAll()
					.then((e) => {
						var record = e.data.records;
						this.set({ all_times: record });
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading times!"
						});
					});
			},
			loadComments() {
				Comment.getAll()
					.then((e) => {
						var record = e.data.records;
						this.set({ all_comments: record });
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading comments!"
						});
					});
			},
			loadDurations() {
				Duration.getAll()
					.then((e) => {
						var record = e.data.records;
						this.set({ all_durations: record });
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading durations!"
						});
					});
			},
			loadAdvices() {
				Advice.getAll()
					.then((e) => {
						var record = e.data.records;
						this.set({ all_advices: record });
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading advices!"
						});
					});
			},
			loadNextVisits() {
				NextVisit.getAll()
					.then((e) => {
						var record = e.data.records;
						this.set({ all_next_visits: record });
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading next visit data!"
						});
					});
			},
			loadReferees() {
				Referee.getAll()
					.then((e) => {
						var record = e.data.records;
						this.set({ all_referees: record });
					})
					.catch((e) => {
						this.set({
							error_message: "There is an error loading referees!"
						});
					});
			},
			loadPrescription() {
				this.set({ loaded_last_medicines: false });

				var { patient } = this.get().data;
				Prescription.getOne(patient.id)
					.then((e) => {
						var record = e.data.records;
						this.set({ prescription: record });

						this.get().medicine_details = [];
						var medicines = record.medicines.split(','),
							times = record.times.split(','),
							comments = record.comments.split(','),
							durations = record.durations.split(',');
						for (var i = 0; i < medicines.length; i++) {
							this.get().medicine_details.push({
								medicine: medicines[i],
								time: times[i],
								comment: comments[i],
								duration: durations[i]
							});
						}
						this.set({ loaded_last_medicines: true });
					})
					.catch((e) => {
						this.set({
							loaded_last_medicines: true,
							error_message: "There is an error loading last prescribed medicines!"
						});
					});
			},
			save(e) {
				e.preventDefault();

				var investigation_descriptions = [],
					diagnoses = [],
					diagnosis_descriptions = [],
					medicines = [],
					times = [],
					comments = [],
					durations = [];
				if (this.get().investigations) {
					this.get().investigations.forEach((item, index) => {
						investigation_descriptions.push(item.investigation_description);
					});
					this.get().data.investigation_descriptions = investigation_descriptions.join();
				}
				else {
					this.get().data.investigation_descriptions = "";
				}
				if (this.get().diagnoses) {
					this.get().diagnoses.forEach((item, index) => {
						diagnoses.push(item.diagnosis);
						diagnosis_descriptions.push(item.diagnosis_description);
					});
					this.get().data.diagnoses = diagnoses.join();
					this.get().data.diagnosis_descriptions = diagnosis_descriptions.join();
				}
				else {
					this.get().data.diagnoses = "";
					this.get().data.diagnosis_descriptions = "";
				}
				this.get().medicine_details.forEach((item, index) => {
					medicines.push(item.medicine.toUpperCase());
					times.push(item.time);
					comments.push(item.comment);
					durations.push(item.duration);
				});

				this.get().data.medicines = medicines.join();
				this.get().data.times = times.join();
				this.get().data.comments = comments.join();
				this.get().data.durations = durations.join();

				this.get().data.advices = this.get().advices.join();

				var { data } = this.get();

				this.set({
					save: true,
					tracker: {
						saving: true,
						saved: false,
						error: false
					}
				});

				Model.post(data)
					.then((r) => {
						this.set({
							tracker: {
								saving: false,
								saved: true,
								error: false
							}
						});

						setTimeout(() => {
							this.set({
								save: false,
								tracker: {
									saved: false
								},
							});
							if (this.get().preview_prescription) {
								window.location.assign("#prescriptionhistory#p#" + ('000000' + r.data.records.id).slice(-6));
							}
							else if (this.get().preview_short_prescription) {
								window.location.assign("#prescriptionhistory#s#" + ('000000' + r.data.records.id).slice(-6));
							}
							else {
								window.location.assign("#prescriptionhistory");
							}
						}, 1500);

					})
					.catch((r) => {
						this.set({
							tracker: {
								saving: false,
								saved: false,
								error: true
							},
							error_message: "There is an error creating prescription!"
						});
						setTimeout(() => {
							this.set({
								save: false,
								tracker: {
									saving: false,
									saved: false,
									error: false
								},
								error_message: ""
							});
						}, 1500);
					});
			}
		}
	}
</script>